@media screen and (max-width: 480px){

*{
    box-sizing: border-box;
    text-transform: uppercase;
}


body{
    margin: 0;
    padding: 0;
}
.shadow{
    box-shadow: 0px 5px 10px 0px black ;
}

.over{
    font-family: 'Overpass', sans-serif;
}

.open{
    font-family: 'Open Sans', sans-serif;
}

.begin{
    height: 95vh;
}


.first{
    height:95vh ;
    width: 100% ;
}


.ceremonia{
    height: 100vh;
    background-image: url(/assets/images/back.png);
    background-size: cover;
}
.border{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    height: 80%;
    border: 2px;
    border-color: #f8f1e3;
    border-style: solid;

}

.place{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30%;
    color: #f8f1e3;
    font-size: 25px;
    background-color: #7FABAB;
}

.house{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 13px;
    text-align: center;
}

.btn-ceremonia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    font-size: 25px;
    border: none;
    border-radius: 50px;
    background-color: #cdb17a;
    color: #f8f1e3;
    text-decoration: none;
}

.new-paragraph{
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.champ{
    width: 150px;
    height: 150px;
}

.rings{
    width: 110px;
    height: 100px;
}

.party{
    background-image: url(/assets/images/back.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 12px;
    text-align: center;
}


.location{
    width: 100px;
    height: 100px;
}

.btn-mapa {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 80%;
    height: 50px;
    font-size: 25px;
    border-radius: 50px;
    background-color: #cdb17a;
    color: #f8f1e3;
}

.nosotros{
    display: flex;
    padding: 5px;
    background-image: url(/assets/images/back.png);
    background-size: cover;
} 

.column h3{
    font-size: 25px;
    text-align: center;
}

.cuatro{
    margin-top: 21.5px;
}
.column{
flex: 25%;
padding: 5px;
}

.foto{
    width: 100% ;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    
}
  
/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-direction: column;
    align-items:flex-end ;
    justify-content: center;
    border-radius: 10%;
    background-image:url(/assets/images/back.png) ;
    background-size: cover;
    color:#cdb17a ;
    font-weight: bold;
    margin: 30% auto; /* 15% from the top and centered */
    padding: 5px;
    width: 90%; /* Could be more or less, depending on screen size */
    height: 60%;
    text-align: center;
}

/* The Close Button */
.close {
    font-size: 28px;
    background-color: transparent;
    color: #cdb17a;
    border: none;
}


.modal.closing .modal-content{
    transform: scale(-.5);
    opacity: 1;
    transition: all 2s ease-in-out;
}

.btn-alias {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.alias {
    background-color:#f8f1e3;
}
.cbu {
    background-color:#f8f1e3;
}

.gift{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-image: url(/assets/images/back.png);
    background-size: cover;
}

.gift h2{
    font-size: 15px;
}

.modalGift {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    border-radius: 10%;
    background-color: #f8f1e3;
    margin: 30% auto; /* 15% from the top and centered */
    padding: 5px;
    width: 90%; /* Could be more or less, depending on screen size */
    height: 60%;
    text-align: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cdb17a ;
    width: 100%;
    height: 80%;
    color: #f8f1e3;

}
.regalo{
    width: 150px;
    height: 150px;
}

.textoRegalo{
    text-align: center;
    font-size: 20px;
}

.btn-gift{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 80%;
    height: 50px;
    font-size: 25px;
    border-radius: 50px;
    background-color: #f8f1e3;
    color: #cdb17a;
}


.asistencia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.confirmacion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(/assets/images/back.png);
    background-size: cover;
    text-align: center;
}

.confirmacion h3{
    font-size: 15px;
}

.calendar{
    width: 100px;
    height: 100px;
}


.btn-calendario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    background-color: #aabf97;
    color: #f8f1e3;
    font-size: 25px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
}


.dress{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cdb17a;
    color: #f8f1e3;
    width: 100%;
    height: 25%;
}

.dress h2{
    font-size: 35px;
    letter-spacing: 8px;
}

.dress h3{
    font-size: 15px;
    
}

.insta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/images/back.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align: center;
}
.hashtag{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: #cdb17a;
    font-weight: bold;
}

.hashtag p{
    margin-top: 50px;
}

.iconInsta{
    width: 200px;
    height: 200px;
}

.final{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #aabf97;
    color: #f8f1e3;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.cuenta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 8%;
    position: fixed ;
    background-color: #cdb17a;
    color: #f8f1e3;
    font-size: 15px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

}

